@model IPagedList<ATTACHMENT>
@{
	string _action = Url.Action(ViewContext.RouteData.Values["action"].ToString());
	string _edit = "Edit";
	string _delete = "DeleteAttachment";
}

@section head{
	<script type="text/javascript">
		$(function () {
			InputGo("@ViewBag.DefaultPage");
		})
		//select by dropdownlist
		function SelectGo(page) {
			$('div .pager').find('select').each(function () {
				$(this).val(page);
			});
			var url = '@_action?page=' + page
				+ '&nid=@(ViewBag.NodeID)'
				+ '&defaultPage=' + $("[name=defaultPage]").val()
				+ '&k=' + EncodeParameter($("[name=k]").val()) 
				/*+ '&start=' + $("#start").val() + '&end=' + $("#end").val()*/;
			GoUrl(url);
		}
	</script>
}

@section featured_top {

}

@section featured {

}

@*分頁*@
@helper Pager()
{
	<div class="pager">
		@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, 0, null
	   , new { nid = ViewBag.NodeID, defaultPage = ViewBag.DefaultPage, k = ViewBag.Keyword, start = ViewBag.start, end = ViewBag.end })
	</div>
}

@*網頁內容start*@
@using (Html.BeginForm())
{
	<p class="search_box" style="display:block">
		<label class="key">@MyList.KeywordInput(ViewBag.Keyword, "手冊名稱")</label>
		<label class="btn_box go">@MyList.Submit()</label>
	</p>

	<p class="top_bar">
		<label class="btn_box">
			@if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Add))
			{
				@MyHtml.Button("新增", Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { }), "org")
			}
		</label>
		<span class="colortxt_red" style="margin-left: 10px;">
			首頁僅顯示 1 筆
		</span>
	</p>
	if (MyList.IsTwoPagers())
	{
		@Pager()
	}
	<div class="tb_list_box">
		<table border="0" style="width: 100%" cellpadding="0" cellspacing="0" class="tb_list">
			<tr class="thead">
				<th width="20%">封面照片</th>
				<th width="50%">手冊名稱</th>
				<th width="15%">上下線日期</th>
				<th width="15%">功能</th>
			</tr>
		</table>
		<ul class="sortable">
			@foreach (ATTACHMENT m in Model)
			{
				<li class="ui-state-default" id="@m.ID" style="margin: 5px 0;">
					<table border="0" style="width: 100%" cellpadding="0" cellspacing="0" class="tb_list">
						<tr>
							<td data-th="封面照片" width="20%">
								<img src="@Url.Content(m.GetPic())" style="max-width:120px;" />
							</td>
							<td data-th="手冊名稱" width="50%">@m.DESCRIPTION</td>
							<td data-th="上下線日期" width="15%">@(m.CONTENT6 + "~" + m.CONTENT7)</td>
							<td data-th="功能" width="15%">
								<div class="btn_box">
									<a href="@Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { id = m.ID, start = ViewBag.start, end = ViewBag.end })" title="編輯"><span class="btn"><i class="far fa-edit"></i></span></a>
									@if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Delete))
									{
										<a href="@Url.MyAction(_delete, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new {  attid = m.ID, really = false, actionName = "Index", start = ViewBag.start, end = ViewBag.end })" title="刪除" onclick="return confirm('確定要刪除嗎？')"><span class="btn red"><i class="far fa-trash-alt"></i></span></a>
									}
								</div>
							</td>
						</tr>
					</table>
				</li>
			}
		</ul>
	</div>
	@Pager()
}
@*網頁內容end*@

@section scripts{
	<script>
		$(function () {

		});
	</script>
}
