@model IQueryable<NODE>
@{
	string _action = Url.Action(ViewContext.RouteData.Values["action"].ToString());
	string _edit = "Edit";
	string _delete = "DeleteNode";

	int iORDER = 1;
}

@section head{
	<script type="text/javascript">
		$(function () {
			InputGo("@ViewBag.DefaultPage");
		})
		//select by dropdownlist
		function SelectGo(page) {
			$('div .pager').find('select').each(function () {
				$(this).val(page);
			});
			var url = '@_action?page=' + page
				+ '&nid=@(ViewBag.NodeID)'
				+ '&defaultPage=' + $("[name=defaultPage]").val()
				+ '&k=' + EncodeParameter($("[name=k]").val())
				+ '&k1=' + $("#k1").val();
			GoUrl(url);
		}
	</script>
}

@section featured_top {

}

@section featured {

}

@*網頁內容start*@

@using (Html.BeginForm())
{
	<p class="search_box" style="display:block">
		<label class="key"><span class="select">@Html.DropDownList("k1", ViewBag.downloadtype as SelectList, "類別")</span></label>
		<br />
		<label class="key">@MyList.KeywordInput(ViewBag.Keyword, "標題")</label>
		<br />
		<label class="btn_box go">@MyList.Submit()</label>
	</p>
}
<p style="display:block;color:red;font-size:larger; margin-bottom: 10px;">直接拖拉可改變排序，存檔後可儲存排序結果</p>
<p class="top_bar">
	<label class="btn_box">
		@if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Add))
			{
			@MyHtml.Button("新增", Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { k1 = ViewBag.k1 }), "org")
			}
		<a data-fancybox="print" data-type="iframe" data-ng-model="true" href="@Url.Action("TypeIndex", new { nid = ViewBag.NodeID })" title="類別管理" class="btn org">類別管理</a>
	</label>
</p>
<div class="tb_list_box">
	目前共 @Model.Count() 筆資料
	<ul class="sortable">
		<li>
			<table border="0" style="width: 100%" cellpadding="0" cellspacing="0" class="tb_list">
				<tr class="thead">
					<th width="10%">排序</th>
					<th width="45%">名稱</th>
					<th width="25%">類別</th>
					<th width="15%">功能</th>
				</tr>
			</table>
		</li>
		@foreach (NODE m in Model)
			{
			<li class="ui-state-default" id="@m.ID" style="margin: 5px 0;">
				<table border="0" style="width: 100%" cellpadding="0" cellspacing="0" class="tb_list">
					<tr>
						<td data-th="排序" width="10%">@iORDER</td>
						<td data-th="名稱" width="45%">@m.TITLE</td>
						<td data-th="類別" width="25%">@Function.GetNodeTitle(m.PARENT_ID)</td>
						<td data-th="功能" width="15%">
							<div class="btn_box">
								<a href="@Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { id = m.ID, k1 = ViewBag.k1 })" title="編輯"><span class="btn"><i class="far fa-edit"></i></span></a>
								@if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Delete))
								{
									<a href="@Url.MyAction(_delete, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new {  id = m.ID, really = false })" title="刪除" onclick="return confirm('@Function.DEFAULT_CONFIRM_MESSAGE')"><span class="btn red"><i class="far fa-trash-alt"></i></span></a>
								}
								@*<a href="@Url.Action("ZipFiles", new { id = m.ID, nid = ViewBag.NodeID })" title="全部下載"><span class="btn" style="background:#1c70c5;"><i class="fa fa-download"></i></span></a>*@
							</div>
						</td>
					</tr>
				</table>
			</li>
			iORDER++;
		}
	</ul>
</div>

@using (Html.BeginForm())
{
	if (Model != null && Model.Count() > 0)
	{
		<p class="top_bar">
			<label class="btn_box">
				<input type="submit" value="存檔" title="存檔" class="btn org" id="save" />
			</label>
		</p>
		@Html.Hidden("lsID")
	}
}
@*網頁內容end*@

@section scripts{
	<script>
		$(function () {
			$(".sortable").sortable({
				connectWith: "ul",
				update: function (event, ui) {
					var lsID = $(".sortable>li:not(:first-child)").map(function () { return $(this).prop("id"); }).get().join(";");
					$("#lsID").val(lsID);
				}
			}).disableSelection();
		});

		function submitForm(n) {
			if ($("form").length > 0) {
				n = n == "" || isNaN(n) ? 0 : n;
				$("form").eq(n).submit();
			}
		}
	</script>
}
