@model SysUserChangePasswordModel


@{

}

@section head{

}

@section featured{

}

@*網頁內容start*@

@using (Html.BeginForm())
{
    <div class="edit_list">

        @MyHtml.RedP()

        <div>
            <label>
                @MyHtml.RedSpan()
                @Html.LabelFor(model => model.Password)
            </label>
            <div>
                @Html.EditorValidationFor(model => model.Password)
				<p class="colortxt_red" style="width: 100%;">密碼格式：首字英文字母+英數混合 8-20 字元</p>
            </div>
        </div>
        <div>
            <label>
                @MyHtml.RedSpan()
                @Html.LabelFor(model => model.ConfirmPassword)
            </label>
            <div>
                @Html.EditorValidationFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div>
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="In_btn_box">@MyHtml.EditButton()</div>
}
@*網頁內容end*@

@section scripts{

}

