@model IPagedList<DATA2>
@{
	string _action = Url.Action(ViewContext.RouteData.Values["action"].ToString());
	string _edit = "Edit";
	string _delete = "Delete";

	string k1 = (string)ViewBag.k1;
	string k2 = (string)ViewBag.k2;
	string k3 = (string)ViewBag.k3;
	string k4 = (string)ViewBag.k4;
	bool fun13_05_03 = ((string)ViewBag.NodeID).CheckStringValue("fun13_05_03");
}

@section head{
	<script type="text/javascript">
		$(function () {
			InputGo("@ViewBag.DefaultPage");
		})
		//select by dropdownlist
		function SelectGo(page) {
			$('div .pager').find('select').each(function () {
				$(this).val(page);
			});
			var url = '@_action?page=' + page
                + '&nid=@(ViewBag.NodeID)'
                + '&defaultPage=' + $("[name=defaultPage]").val()
                + '&k=' + EncodeParameter($("[name=k]").val())
				+ '&k1=' + $("[name=k1]").val()
				+ '&k2=' + $("[name=k2]").val()
				+ '&k3=' + $("[name=k3]").val()
				+ '&k4=' + $("[name=k4]").val()
				+ ($("#c1").prop("checked") ? '&c1=1' : '')
				+ ($("#c2").prop("checked") ? '&c2=1' : '');
			GoUrl(url);
		}
	</script>
}

@section featured_top {

}

@section featured {

}

@*分頁*@
@helper Pager()
{
	<div class="pager">
		@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, 0, null
	   , new { nid = ViewBag.NodeID, defaultPage = ViewBag.DefaultPage, k = ViewBag.Keyword, k1 = ViewBag.k1, k2 = ViewBag.k2, k3 = ViewBag.k3, k4 = ViewBag.k4, c1 = ViewBag.c1, c2 = ViewBag.c2 })
	</div>
}

@*網頁內容start*@
@using (Html.BeginForm())
{
	<p class="search_box" style="display:block">
		@*<label class="key"><span class="select">@Html.DropDownList("k1", ViewBag.hallType as SelectList, "演出館別")</span></label><br />*@
		<label class="key">
			演出館別：
			@foreach (SelectListItem sli in (ViewBag.hallType as SelectList))
			{
				<label for="k1_@sli.Value">
					<input type="radio" value="@sli.Value" id="k1_@sli.Value" name="k1" @(k1.CheckStringValue(sli.Value) ? "checked" : "") />@sli.Text
				</label>
			}
		</label><br />
		<label class="key">演出場地：<span class="select">@Html.DropDownList("k2", ViewBag.hall1 as SelectList)</span></label><br />
		<label class="key">展演類型：<span class="select">@Html.DropDownList("k3", ViewBag.performanceType as SelectList)</span></label><br />
		<label class="key">活動類型：<span class="select">@Html.DropDownList("k4", ViewBag.performance1 as SelectList)</span></label><br />
		<label class="key">
			@MyList.KeywordInput(ViewBag.Keyword, "展演團隊、活動名稱")
			<label for="c1">
				<input type="checkbox" id="c1" name="c1" value="1" @(ViewBag.c1 == "1" ? "checked" : "") /> 首頁最新展演活動
			</label>
			<label for="c2">
				<input type="checkbox" id="c2" name="c2" value="1" @(ViewBag.c2 == "1" ? "checked" : "")/> 首頁活動預告
			</label>
		</label>
		<br />
		<label class="btn_box go">@MyList.Submit()</label>
	</p>
	<p class="top_bar">
		<label class="btn_box">
			@if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Add))
			{
				@MyHtml.Button("新增", Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { k1 = ViewBag.k1, k2 = ViewBag.k2, k3 = ViewBag.k3, k4 = ViewBag.k4, c1 = ViewBag.c1, c2 = ViewBag.c2 }), "org")
			}
		</label>
	</p>
	if (MyList.IsTwoPagers())
	{
		@Pager()
	}
	<div class="tb_list_box">
		<table class="tb_list">
			<tr>
				<th>正式展演時間</th>				
				<th>名稱</th>
				@*<th>公開演出</th>*@
				<th>建立日期</th>
				<th>參加人數</th>
				<th>功能</th>
			</tr>
			@foreach (DATA2 m in Model)
			{
				string sORDER = m.ORDER.ToString();
				<tr>
					<td data-th="正式展演時間">@(m.DATETIME9.ToDateString() + "~" + m.DATETIME10.ToDateString())</td>
					<td data-th="名稱">@m.CONTENT7</td>
					@*<td data-th="公開演出">@(m.DECIMAL1 == 1 ? "V" : "")</td>*@
					<td data-th="建立日期">@m.CREATE_DATE.ToDateString()</td>					
					<td data-th="參加人數">@m.DECIMAL4.ToInt()</td>
					<td data-th="功能">
						<div class="btn_box">
							<a href="@Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { id = m.ID, k1 = ViewBag.k1, k2 = ViewBag.k2, k3 = ViewBag.k3, k4 = ViewBag.k4, c1 = ViewBag.c1, c2 = ViewBag.c2 })" title="編輯"><span class="btn"><i class="far fa-edit"></i></span></a>
							@if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Delete))
							{
								<a href="@Url.MyAction(_delete, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new {  id = m.ID, k1 = ViewBag.k1, k2 = ViewBag.k2, k3 = ViewBag.k3, k4 = ViewBag.k4, c1 = ViewBag.c1, c2 = ViewBag.c2 })" onclick="return confirm('@Function.DEFAULT_CONFIRM_MESSAGE');" title="刪除"><span class="btn red"><i class="far fa-trash-alt"></i></span></a>
							}
						</div>
					</td>
				</tr>
			}
		</table>
	</div>
	@Pager()
}
@*網頁內容end*@

@section scripts{
	<script>
		$(function () {
			$("[name=k1]").click(function () {
				getChild($(this).val(), "", "全部", 2);
			});
			$("[name=k3]").change(function () {
				getChild($(this).val(), "", "全部", 4);
			});
		});

		function getChild(arg1, arg2, firstTextVal, idx) {
			$.post("@Url.Action("GetChild", "Json")", { id: arg1, v: arg2, first: firstTextVal }, function (data) {
				$("#k" + idx).html(data);
			});
		}
	</script>
}
