@model IPagedList<DATA2>
@{
	string _action = Url.Action(ViewContext.RouteData.Values["action"].ToString());
	string _edit = "TicketEdit";
	bool fun13_06_03 = ((string)ViewBag.NodeID).CheckStringValue("fun13_06_03");
}

@section head{
	<script type="text/javascript">
		$(function () {
			InputGo("@ViewBag.DefaultPage");
		})
		//select by dropdownlist
		function SelectGo(page) {
			$('div .pager').find('select').each(function () {
				$(this).val(page);
			});
			var url = '@_action?page=' + page
                + '&nid=@(ViewBag.NodeID)'
                + '&defaultPage=' + $("[name=defaultPage]").val()
                + '&k=' + EncodeParameter($("[name=k]").val())
				+ '&k1=' + $("[name=k1]").val()
				+ '&start=' + $("[name=start]").val()
				+ '&end=' + $("[name=end]").val();
			GoUrl(url);
		}
	</script>
}

@section featured_top {

}

@section featured {

}

@*分頁*@
@helper Pager()
{
	<div class="pager">
		@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, 0, null
	   , new { nid = ViewBag.NodeID, defaultPage = ViewBag.DefaultPage, k = ViewBag.Keyword, k1 = ViewBag.k1, start = ViewBag.start, end = ViewBag.end })
	</div>
}

@*網頁內容start*@
@using (Html.BeginForm())
{
	<p class="search_box" style="display:block">
		<label class="key"><span class="select">@Html.DropDownList("k1", ViewBag.hallType as SelectList, "館別")</span></label><br />
		<label class="key">@MyList.KeywordInput(ViewBag.Keyword, "活動名稱")</label><br />
		@Html.Partial("Input/_DateStartToEndPartial", new string[] { "start", "end", (string)ViewBag.start, (string)ViewBag.end, "1" })
		<label class="btn_box go">@MyList.Submit()</label>
	</p>
	<p class="top_bar">
		<label class="btn_box">
		</label>
	</p>
	if (MyList.IsTwoPagers())
	{
		@Pager()
	}
	<div class="tb_list_box">
		<table class="tb_list">
			<tr>
				<th>活動名稱</th>
				<th>活動日期</th>
				@if (!fun13_06_03)
				{
				<th>發放張數</th>
				<th>索取張數</th>
				}
				<th>功能</th>
			</tr>
			@foreach (DATA2 m in Model)
			{
				string sORDER = m.ORDER.ToString();
				<tr>
					<td data-th="活動名稱">@m.CONTENT7</td>
					<td data-th="活動日期">@Html.Raw(fun13_06_03 ? m.CONTENT13 : m.CONTENT)</td>
					@if (!fun13_06_03)
					{
					<td data-th="發放張數">@m.DECIMAL5.ToInt()</td>
					<td data-th="索取張數">@m.DECIMAL6.ToInt()</td>
					}
					<td data-th="功能">
						<div class="btn_box">
							<a href="@Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { id = m.ID, k1 = ViewBag.k1, start = ViewBag.start, end = ViewBag.end  })" title="編輯"><span class="btn"><i class="far fa-edit"></i></span></a>
						</div>
					</td>
				</tr>
			}
		</table>
	</div>
	@Pager()
}
@*網頁內容end*@

@section scripts{
	
}
