@model IPagedList<PLUS>
@{
    string _action = Url.Action(ViewContext.RouteData.Values["action"].ToString());
    string _fun5002 = "Index";
}

@section head{
    <script type="text/javascript">
        $(function () {
            InputGo("@ViewBag.DefaultPage");
        })
        //select by dropdownlist
        function SelectGo(page) {
            $('div .pager').find('select').each(function () {
                $(this).val(page);
            });
            var url = '@_action?page=' + page
                + '&nid=@(ViewBag.NodeID)'
                + '&defaultPage=' + $("[name=defaultPage]").val()
                + '&k=' + EncodeParameter($("[name=k]").val())
                + '&k1=' + $("[name=k1]").val()
                + '&k2=' + $("[name=k2]").val()
				+ '&start=' + $("#start").val()
				+ '&end=' + $("#end").val();
            GoUrl(url);
        }
    </script>
}

@section featured_top {

}

@section featured {

}

@*分頁*@
@helper Pager()
{
    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, 0, null, new { nid = ViewBag.NodeID, defaultPage = ViewBag.DefaultPage, k = ViewBag.Keyword, k1 = ViewBag.k1, k2 = ViewBag.k2, start = ViewBag.start, end = ViewBag.end })
    </div>
}

@*網頁內容start*@
@using (Html.BeginForm())
{
    <p class="search_box" style="display:block">
        @Html.Partial("Input/_DateStartToEndPartial", new string[] { "start", "end", (string)ViewBag.start, (string)ViewBag.end, "2" })
        <label class="key"><span class="select">@Html.DropDownList("k2", ViewBag.Data3Fun5000Select as SelectList, "兌換點")</span></label>
        <label class="key">@MyList.KeywordInput(ViewBag.Keyword, "禮品名稱")</label><br />
        <label class="key">@MyList.KeywordInput(ViewBag.k1, "會員姓名、E-mail", "k1")</label>
        <br />
        <label class="btn_box go">@MyList.Submit()</label>
    </p>
    <p class="top_bar">
        <label class="btn_box">
            @MyHtml.Button("回紅利點數管理", Url.MyAction(_fun5002, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { }), "org")
        </label>
    </p>
    if (MyList.IsTwoPagers())
    {
        @Pager()}
    <div class="tb_list_box">
        <table class="tb_list">
            <tr>
                <th width="10%">兌換日期</th>
                <th width="10%">商家名稱</th>
                <th width="10%">兌換代碼</th>
                <th>禮品名稱</th>
                <th width="10%">金額</th>
                <th width="10%">點數</th>
                <th width="10%">會員名稱</th>
                <th width="10%">會員E-mail</th>
                <th width="10%">兌換狀態</th>
            </tr>
            @foreach (PLUS m in Model)
            {
                <tr>
                    <td data-th="兌換日期">@m.DATETIME1.ToDefaultString()</td>
                    <td data-th="商家名稱">@Function.GetSysUserName(m.DATA3.DATA_TYPE)</td>
                    <td data-th="兌換代碼">@m.CONTENT1</td>
                    <td data-th="禮品名稱">@m.DATA3.CONTENT1</td>
                    <td data-th="金額">@m.DECIMAL4.ToInt()</td>
                    <td data-th="點數">@m.DECIMAL5.ToInt()</td>
                    <td data-th="會員名稱">@m.CONTENT3</td>
                    <td data-th="會員E-mail">@m.CONTENT2</td>
                    <td data-th="兌換狀態">@m.GetSTATUS()</td>
                </tr>
            }
        </table>
    </div>
    @Pager()
}
@*網頁內容end*@

@section scripts{
    <script>
        $(function () {

                                })
    </script>
}
