@model IPagedList<ROLE_GROUP>
@{
	string _action = Url.Action(ViewContext.RouteData.Values["action"].ToString());
	string _edit = "Edit";
	string _delete = "Delete";
}

@section head{
	<script type="text/javascript">
		$(function () {
			InputGo("@ViewBag.DefaultPage");
		})
		//select by dropdownlist
		function SelectGo(page) {
			$('div .pager').find('select').each(function () {
				$(this).val(page);
			});
			var url = '@_action?page=' + page
				+ '&nid=@(ViewBag.NodeID)'
				+ '&defaultPage=' + $("[name=defaultPage]").val()
				+ '&k=' + EncodeParameter($("[name=k]").val());
			GoUrl(url);
		}
	</script>
}

@section featured_top {

}

@section featured {

}

@*分頁*@
@helper Pager()
{
	<div class="pager">
		@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, 0, null
	   , new { nid = ViewBag.NodeID, defaultPage = ViewBag.DefaultPage, k = ViewBag.Keyword })
	</div>
}

@*網頁內容start*@
<p class="colortxt_red" style="margin-bottom: 10px;">
	1.列表只顯示建立日期 2 週內的資料。<br />
	2.預計發送日期的前一天即不可編輯，只能刪除。例：預計發送日為12/22，12/21即不可編輯，只能刪除。<br />
	3.發送時間為從凌晨 00:10 開始，每隔 6 小時會檢查一次是否有要發送的電子報。<br />
	4.避免被當作垃圾信件，發送方式為每發送 500 封會暫停 2 分鐘。
</p>
@using (Html.BeginForm())
{
	<p class="search_box" style="display:block">
		<label class="key">@MyList.KeywordInput(ViewBag.Keyword, "標題")</label>
		<label class="btn_box go">@MyList.Submit()</label>
	</p>
}
<p class="top_bar">
	<label class="btn_box">
		@if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Add))
			{
			@MyHtml.Button("新增", Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { k1 = ViewBag.k1 }), "org")
			}
		<a data-fancybox="print" data-type="iframe" data-ng-model="true" href="@Url.Action("SubscriberIndex", new { nid = ViewBag.NodeID })" title="群組及訂閱名單管理" class="btn org">群組及訂閱名單管理</a>
	</label>
</p>
@if (MyList.IsTwoPagers())
{
	@Pager()
}
<div class="tb_list_box">
	<table class="tb_list">
		<tr class="thead">
			<th>建立日期</th>
			<th style="width:40%">標題</th>
			<th>預計發送日期</th>
			<th>狀態</th>
			<th>預覽</th>
			<th>功能</th>
		</tr>
		@foreach (ROLE_GROUP m in Model)
			{
			<tr>
				<td data-th="建立日期">@m.CREATE_DATE.ToDateString()</td>
				<td data-th="標題"><div style="text-align:left;">@m.TITLE</div></td>
				<td data-th="預計發送日期">@m.CONTENT1</td>
				<td data-th="狀態">@Html.Raw(m.CONTENT2.IsNullOrEmpty() ? "<span style=\"color: green\">待發送</span>" : "<span style=\"color: blue\">已發送</span>")</td>
				<td data-th="預覽">
					<div class="btn_box">
						<a target="_blank" href="@Url.MyAction("PreviewNewsletter", (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { id = m.ID, k1 = ViewBag.k1 })" title="預覽"><span class="btn"><i class="far fa-eye"></i></span></a>
					</div>
				</td>
				<td data-th="功能">
					<div class="btn_box">
						@if (m.CONTENT2.IsNullOrEmpty())
						{
							if (m.CONTENT1.ToDateTime() > DateTime.Now.Date.AddDays(1))
							{
								<a href="@Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { id = m.ID, k1 = ViewBag.k1 })" title="編輯"><span class="btn"><i class="far fa-edit"></i></span></a>
							}
							if (m.CONTENT1.ToDateTime() > DateTime.Now.Date && MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Delete))
							{
								<a href="@Url.MyAction(_delete, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { id = m.ID })" title="刪除" onclick="return confirm('確定要刪除嗎？')"><span class="btn red"><i class="far fa-trash-alt"></i></span></a>
							}
							else
							{
								@:不可刪除
							}
						}
						else
						{
							@:不可刪除
						}
					</div>
				</td>
			</tr>
		}
	</table>
	@Pager()
</div>
@*網頁內容end*@

@section scripts{

}