@{
    string _action = Url.Action(ViewContext.RouteData.Values["action"].ToString());
    bool isIndex = _action.Length < 2;
    //bool isIndex = _action.CheckStringValue("/waterAll/");//給測試機用的
    string _bodyDivStyle = !isIndex ? "background-color: #FFF; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);" : "";
    string _search1 = isIndex ? "" : "page_header";
    bool isLogon = User.Identity.IsAuthenticated;
}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="https://www.2022taiwanstay.com.tw/images/fb512x512.jpg" />
    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    <title>@($"{Function.PAGE_TITLE}  {ViewBag.PageTitle}")</title>
    @*@Styles.Render("~/BaseCss/css")*@
    @Styles.Render("~/Content/reset.css",
                "~/Content/bootstrap.min.css",
                "~/Content/Site.css?20220722",
            "~/Content/toastmessage/css/jquery.toastmessage.css")
    @Scripts.Render("~/bundles/basejquery", "~/bundles/customjquery")
    @*<script src="@Url.Content("~/Scripts/bootstrap.bundle.js")"></script>*@
    @*<script src="@Url.Content("~/Scripts/jquery-3.6.0.js")"></script>*@
    @RenderSection("head", required: false)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S4Z2FX5LP5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-S4Z2FX5LP5');
    </script>
</head>
<body>
    <div class="black_bg2"></div>
    <div id="menuBtn" class="menu-btn">
        <p>
            選單列
            <span class="line-1"></span>
            <span class="line-2"></span>
            <span class="line-3"></span>
        </p>
    </div>
    <header class="pt-4 pb-3 mobile_menu">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 mb-2 justify-content-center mb-md-0">
                    <li class="nav-item"><a href="@Url.Action("Index")" class="nav-link nav-logo @("/".Equals(_action)?"active":"")" aria-current="page"><img src="~/Images/logo2.svg" /></a></li>
                    <li class="nav-item"><a href="@Url.Action("Stay")" class="nav-link @("/Stay".CheckStringValue(_action)?"active":"")">安心住</a><b></b></li>
                    <li class="nav-item"><a href="@Url.Action("About")" class="nav-link @("/About".CheckStringValue(_action)?"active":"")">活動辦法</a><b></b></li>
                    <li class="nav-item"><a href="@Url.Action("Pic")" class="nav-link @("/Pic".CheckStringValue(_action)?"active":"")">住宿選合法 安心不踩雷<i class="animate__animated  animate__pulse animate__infinite">抽萬元住宿券</i></a><b></b></li>
                    @*<li class="nav-item"><a href="@Url.Action("LotteryResult")" class="nav-link link-color animate__animated  animate__pulse animate__infinite @("/LotteryResult".CheckStringValue(_action)?"active":"")">抽獎結果</a><b></b></li>*@

                    @*<li class="nav-item"><a href="@Url.Action("Game")" class="nav-link link-color animate__animated  animate__pulse animate__infinite @("/Game".CheckStringValue(_action)?"active":"")">旅宿快篩小遊戲</a><b></b></li>*@
                    @*<li class="nav-item"><a href="javascript:;" class="nav-link @("/LotteryResult".CheckStringValue(_action)?"active":"")">影音專區</a><b></b></li>*@
                    <div class="other">

                        @if (isLogon)
                        {
                            <p class="loginbtn">
                                <a href="@Url.Action("ReSetPw")">修改密碼</a>
                                <a href="@Url.Action("LogOff")">登出</a>
                            </p>
                        }
                        else
                        {
                            <p id="login" class="loginbtn">登入</p>
                            <p id="signup" class="signupbtn">註冊</p>
                        }
                    </div>
                    <li class="nav-item"><a href="https://taiwanstay.net.tw/" class="nav-link" target="_blank">臺灣旅宿網</a></li>
                    <li class="nav-item mobile">
                        <span>主辦單位: <img src="~/Images/footer-logo1.png" /></span>
                        <span>執行單位:<img src="~/Images/footer-logo2.png" /></span>
                        <span>活動小組聯絡電話:<a href="tel:+886-2-2392-8599">02-2392-8599 分機20、26</a></span>
                        <span>聯絡時間:週一至週五10:00~12:00 14:00~17:00  </span>
                        <span>信箱: <a href="mailto:2022taiwanstay@kingspread.com.tw">2022taiwanstay@kingspread.com.tw</a></span>
                    </li>
                </ul>
                
            </div>
        </div>
    </header>
    @Html.Partial("_LogOnPartial")
    @RenderSection("top", required: false)
    @RenderBody()
    @RenderSection("scripts", required: false)
    @Html.Raw(TempData[Function.TEMPDATA_MESSAGE_KEY])
    @*@StackExchange.Profiling.MiniProfiler.RenderIncludes(StackExchange.Profiling.RenderPosition.Left)*@

    <footer class="footer  flex-shrink-0 ">
        <div>
            <span>主辦單位: <img src="~/Images/footer-logo1.png" /></span> |
            <span>執行單位:<img src="~/Images/footer-logo2.png" /></span><br />
            <span>活動小組聯絡電話:<a href="tel:+886-2-2392-8599">02-2392-8599 分機20、26</a></span> |
            <span>聯絡時間:週一至週五10:00~12:00 13:30~18:00  </span> |
            <span>信箱: <a href="mailto:2022taiwanstay@kingspread.com.tw">2022taiwanstay@kingspread.com.tw</a></span>
        </div>
    </footer>

    <script>
        //$(document).ready(function () {
        //    $('.nav-item a.active').removeClass('active');
        //    $('a[href="' + location.pathname + '"]').closest('a').addClass('active');
        //});

        $("#menuBtn").click(function () {
            $(this).toggleClass("active");
            $(".mobile_menu").toggleClass("focus");
        });

        $(window).resize(function () {

            var ww = $(window).width();

            if (ww > 1280) {
                $("#menuBtn").removeClass("active");
                $(".mobile_menu").removeClass("focus");
            }
        });
        $(".menu ul li > a").each(function () {
            $(this).click(function () {
                var ww = $(window).width();
                if (ww < 1280) {
                    $(this).next().fadeToggle();
                }
            });
        });
    </script>
</body>
</html>