@model SetupModel
@{

}

@section head{

}

@section featured{

}

@*網頁內容start*@
@using (Html.BeginForm())
{
	@MyHtml.RedP()
	<div class="edit_list">
		<div>
			<label>@Html.LabelFor(m => m.CONTENT1)</label>
			<div>@Html.EditorValidationFor(m => m.CONTENT1)</div>
		</div>
		<div>
			@Html.ValidationSummary(true)
		</div>
	</div>
	<div class="In_btn_box">@MyHtml.EditButton(ViewBag.IsEdit)</div>
}
@*網頁內容end*@

@section scripts{

}

