@model CategoryModel
@{
	string NodeID = (string)ViewBag.NodeID;
	bool fun14_04_01 = NodeID.CheckStringValue("fun14_04_01");
	bool fun14_04_02 = NodeID.CheckStringValue("fun14_04_02");
	bool fun14_05_02 = NodeID.CheckStringValue("fun14_05_02");
}

@section head{

}

@section featured{

}

@*網頁內容start*@
@using (Html.BeginForm((string)ViewBag.ActionName, (string)ViewBag.ControllerName, new { nid = ViewBag.NodeID, k = ViewBag.k1 }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@MyHtml.RedP()
	@Html.AntiForgeryToken()
	<div class="edit_list" id="app1">
		@if (!fun14_05_02 && fun14_04_02)
		{
			<div>
				<label>
					@MyHtml.RedSpan()
					@Html.LabelFor(m => m.PARENT_ID)
				</label>
				<div>
					<span class="select">@Html.DropDownListFor(m => m.PARENT_ID, ViewBag.FilmExhibitionSelect as SelectList, "請選擇")</span>
					@Html.ValidationMessageFor(m => m.PARENT_ID)
				</div>
			</div>
		}
		<div>
			<label>
				@MyHtml.RedSpan()
				@Html.LabelFor(m => m.TITLE)
			</label>
			<div>
				@if (fun14_05_02)
				{
					@Html.Hidden("PARENT_ID", "PREFACE")
				}
				@Html.EditorValidationFor(model => model.TITLE)
			</div>
		</div>
		@if (!fun14_04_02)
		{
			<div>
				<label>
					@MyHtml.RedSpan()
					@(fun14_04_01 ? "影展" : "")日期
				</label>
				<div>
					@Html.Partial("Input/_DateStartToEndPartial", new string[] { "CONTENT1", "CONTENT2", Model.CONTENT1.ToDefaultString(), Model.CONTENT2.ToDefaultString(), "0" })
				</div>
			</div>
		}
		@if (fun14_04_01)
		{
			<div>
				<label>
					@MyHtml.RedSpan()
					上下線日期
				</label>
				<div>
					@Html.Partial("Input/_DateStartToEndPartial", new string[] { "CONTENT5", "CONTENT6", Model.CONTENT5.ToDefaultString(), Model.CONTENT6.ToDefaultString(), "0" })
				</div>
			</div>
		}
		<div>
			<label>
				@if (!fun14_04_02)
				{
					@MyHtml.RedSpan()
				}
				@Html.LabelFor(m => m.URL)
			</label>
			<div>
				@Html.EditorValidationFor(model => model.URL)
			</div>
		</div>
		@if (fun14_04_01)
		{
			<div>
				<label>@Html.LabelFor(m => m.CONTENT3)</label>
				<div>@Html.EditorValidationFor(model => model.CONTENT3)</div>
			</div>
			<div>
				<label>@Html.LabelFor(m => m.CONTENT4)</label>
				<div>@Html.EditorValidationFor(model => model.CONTENT4)</div>
			</div>
		}
		@if (!fun14_05_02)
		{
			@Html.Partial("_AttachmentNotesPartial", new AttaNotesModel { bMultiple = false, iDescType = 1, sPicWH = "寬度大於1400，高度不限" })
			<div>
				<label>
					圖片上傳
				</label>
				<div class="up_img">
					<input type="file" id="hpf" name="hpf" accept="@Function.DEFAULT_FILEUPLOAD_PICTURE_EXT" />
					@Html.ValidationMessageFor(m => m.hpf)
					@if (Model != null && Model.atta != null)
					{
						ATTACHMENT atta = Model.atta;
						<br />
						<div class="show_img del">
							<p>
								<a href="@Url.MyAction("DeleteAttachment", (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { id = atta.MAIN_ID, attid = atta.ID, k1 = ViewBag.k1, actionName = "CategoryEdit" })" title="刪除" onclick="return confirm('@Function.DEFAULT_CONFIRM_MESSAGE')" class="close_bt"><i class="far fa-times-circle"></i></a>
								<a href="@Url.Content(atta.GetPic())" data-fancybox="images" title="點選圖片可放大檢視">
									<img src="@Url.Content(atta.GetPic())" style="height:100px;border: 1px solid #CCC;" />
								</a>
							</p>
						</div>
					}
				</div>
			</div>
		}
		<div>
			@Html.ValidationSummary(true)
		</div>
	</div>
	<div class="In_btn_box">@MyHtml.EditButton(ViewBag.IsEdit)</div>
}
@*網頁內容end*@

@section scripts{
	<script>
		$(function () {
			@Html.Raw(!fun14_04_02 ? "setRequired(false, 'PARENT_ID');" : "")
			@Html.Raw(fun14_04_02 ? "setRequired(false, 'URL');" : "")
			@Html.Raw(fun14_04_02 ? "setRequired(false, 'CONTENT1');" : "")
			@Html.Raw(fun14_04_02 ? "setRequired(false, 'CONTENT2');" : "")
		});
	</script>
}

