@model IPagedList<NODE>
@{
    string _action = Url.Action(ViewContext.RouteData.Values["action"].ToString());
    string _edit = "Edit3";
    string _delete = "Delete3";
}

@section head{
    <script type="text/javascript">
        $(function () {
            InputGo("@ViewBag.DefaultPage");
        })
        //select by dropdownlist
        function SelectGo(page) {
            $('div .pager').find('select').each(function () {
                $(this).val(page);
            });
            var url = '@_action?page=' + page
                + '&nid=@(ViewBag.NodeID)'
                + '&defaultPage=' + $("[name=defaultPage]").val()
                + '&k=' + EncodeParameter($("[name=k]").val())
				+ '&k1=' + $("[name=k1]").val()
                + '&k2=' + $("[name=k2]").val()
				+ '&start=' + $("#start").val()
				+ '&end=' + $("#end").val();
            GoUrl(url);
        }
    </script>
}

@section featured_top {

}

@section featured {

}

@*分頁*@
@helper Pager()
{
    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, 0, null, new { nid = ViewBag.NodeID, defaultPage = ViewBag.DefaultPage, k = ViewBag.Keyword, k1 = ViewBag.k1, k2 = ViewBag.k2, start = ViewBag.start, end = ViewBag.end })
    </div>
}

@*網頁內容start*@
@using (Html.BeginForm())
{
    <p class="search_box" style="display:block">
    </p>
    <p class="top_bar">
        <label class="btn_box">
            @if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Add))
            {
                @MyHtml.Button("新增", Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues), "org")
                @:&nbsp;&nbsp;&nbsp;&nbsp;
                @MyHtml.Button("排班設定", Url.MyAction("Index4", (Dictionary<string, string>)ViewBag.DefaultRouteValues), "org")
            }
        </label>
    </p>
    if (MyList.IsTwoPagers())
    {
        @Pager()}
    <div class="tb_list_box">
        <table class="tb_list">
            <tr>
                <th>解說場域</th>
                <th width="50%">場域類別</th>
                <th width="10%">功能</th>
            </tr>
            @foreach (NODE m in Model)
            {
                <tr>
                    <td data-th="解說場域">@m.TITLE</td>
                    <td data-th="場域類別">@m.GetValueOnLang()</td>
                    <td data-th="功能">
                        <div class="btn_box">
                            <a href="@Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { id = m.ID, k1 = ViewBag.k1, k2 = ViewBag.k2, start = ViewBag.start, end = ViewBag.end })" title="編輯"><span class="btn"><i class="far fa-edit"></i></span></a>
                            @if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Delete))
                            {
                                <a href="@Url.MyAction(_delete, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new {  id = m.ID, k1 = ViewBag.k1, k2 = ViewBag.k2, start = ViewBag.start, end = ViewBag.end })" title="刪除" onclick="return confirm('@Function.DEFAULT_CONFIRM_MESSAGE')"><span class="btn red"><i class="far fa-trash-alt"></i></span></a>
                            }
                        </div>
                    </td>
                </tr>}
        </table>
    </div>
    @Pager()
}
@*網頁內容end*@

@section scripts{
    <script>
        $(function () {
            
        })
    </script>
}
