@model IPagedList<PLUS>
@{
    string _action = Url.Action(ViewContext.RouteData.Values["action"].ToString());
    string _edit = "Edit4";
    string _delete = "Delete4";
}

@section head{
    <script type="text/javascript">
        $(function () {
            InputGo("@ViewBag.DefaultPage");
        })
        //select by dropdownlist
        function SelectGo(page) {
            $('div .pager').find('select').each(function () {
                $(this).val(page);
            });
            var url = '@_action?page=' + page
                + '&nid=@(ViewBag.NodeID)'
                + '&defaultPage=' + $("[name=defaultPage]").val()
                + '&k=' + EncodeParameter($("[name=k]").val())
				+ '&k1=' + $("[name=k1]").val()
                + '&k2=' + $("[name=k2]").val()
				+ '&start=' + $("#start").val()
				+ '&end=' + $("#end").val();
            GoUrl(url);
        }
    </script>
}

@section featured_top {

}

@section featured {

}

@*分頁*@
@helper Pager()
{
    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, 0, null, new { nid = ViewBag.NodeID, defaultPage = ViewBag.DefaultPage, k = ViewBag.Keyword, k1 = ViewBag.k1, k2 = ViewBag.k2, start = ViewBag.start, end = ViewBag.end })
    </div>
}

@*網頁內容start*@
@using (Html.BeginForm())
{
    <p class="search_box" style="display:block">
        <label class="key"><span class="select">@Html.DropDownList("k1", ViewBag.fun9001 as SelectList, "解說場域")</span></label><br />
        @Html.Partial("Input/_DateStartToEndPartial", new string[] { "start", "end", (string)ViewBag.start, (string)ViewBag.end, "2" })
        <br />
        <label class="btn_box go">@MyList.Submit()</label>
    </p>
    <p class="top_bar">
        <label class="btn_box">
            @if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Add))
            {
                @MyHtml.Button("新增", Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { k1 = ViewBag.k1 }), "org")
                @:&nbsp;&nbsp;&nbsp;&nbsp;
                @MyHtml.Button("依解說員匯出", Url.MyAction("ExportIndex4_1", (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { k1 = ViewBag.k1, k2 = ViewBag.k2, start = ViewBag.start, end = ViewBag.end }), "org")
                @:&nbsp;&nbsp;&nbsp;&nbsp;
                @MyHtml.Button("依日期匯出", Url.MyAction("ExportIndex4_2", (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { k1 = ViewBag.k1, k2 = ViewBag.k2, start = ViewBag.start, end = ViewBag.end }), "org")
                @:&nbsp;&nbsp;&nbsp;&nbsp;
                @MyHtml.Button("回班別設定", Url.MyAction("Index", (Dictionary<string, string>)ViewBag.DefaultRouteValues), "org")
            }
        </label>
    </p>
    if (MyList.IsTwoPagers())
    {
        @Pager()}
    <div class="tb_list_box">
        <table class="tb_list">
            <tr>
                <th width="15%">預約時間</th>
                <th>解說場域</th>
                <th width="10%">預約單位</th>
                <th width="10%">預約人數</th>
                <th width="10%">聯絡人姓名</th>
                <th width="10%">聯絡電話</th>
                <th width="10%">聯絡E-mail</th>
                <th width="10%">解說員</th>
                <th width="10%">功能</th>
            </tr>
            @foreach (PLUS m in Model)
            {
                <tr>
                    <td data-th="預約時間">@m.GetDateRange()</td>
                    <td data-th="解說場域">@Function.GetNodeTitle(m.CONTENT1)</td>
                    <td data-th="預約單位">@m.CONTENT2</td>
                    <td data-th="預約人數">@m.DECIMAL1.ToInt()</td>
                    <td data-th="聯絡人姓名">@m.CONTENT3</td>
                    <td data-th="聯絡電話">@m.CONTENT4</td>
                    <td data-th="聯絡E-mail">@m.CONTENT5</td>
                    <td data-th="解說員">@m.DATA2.CONTENT1</td>
                    <td data-th="功能">
                        <div class="btn_box">
                            <a href="@Url.MyAction(_edit, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new { id = m.ID, k1 = ViewBag.k1, k2 = ViewBag.k2, start = ViewBag.start, end = ViewBag.end })" title="編輯"><span class="btn"><i class="far fa-edit"></i></span></a>
                            @if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Delete))
                            {
                                <a href="@Url.MyAction(_delete, (Dictionary<string, string>)ViewBag.DefaultRouteValues, new {  id = m.ID, k1 = ViewBag.k1, k2 = ViewBag.k2, start = ViewBag.start, end = ViewBag.end })" title="刪除" onclick="return confirm('@Function.DEFAULT_CONFIRM_MESSAGE')"><span class="btn red"><i class="far fa-trash-alt"></i></span></a>
                            }
                        </div>
                    </td>
                </tr>}
        </table>
    </div>
    @Pager()
}
@*網頁內容end*@

@section scripts{
    <script>
        $(function () {
            
        })
    </script>
}
