@model DataModel
@{

}

@section head{

}

@section featured{

}

@*網頁內容start*@
@using (Html.BeginForm((string)ViewBag.ActionName, (string)ViewBag.ControllerName, new { nid = ViewBag.NodeID, k1 = ViewBag.k1, k2 = ViewBag.k2, start = ViewBag.start, end = ViewBag.end }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @MyHtml.RedP()
    @Html.AntiForgeryToken()
    <div class="edit_list" id="app1">
        <div>
            <label>
                @MyHtml.RedSpan()
                日期
            </label>
            <div>
                @Html.EditorValidationFor(m => m.DATETIME1)
            </div>
        </div>
        <div>
            <label>
                @MyHtml.RedSpan()
                課程名稱
            </label>
            <div>
                @Html.EditorValidationFor(m => m.CONTENT1)
            </div>
        </div>
        <div>
            <label>
                @MyHtml.RedSpan()
                時數
            </label>
            <div>
                @Html.EditorValidationFor(m => m.DECIMAL1)
            </div>
        </div>
        <div>
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="In_btn_box">@MyHtml.EditButton(ViewBag.IsEdit)</div>
}
@*網頁內容end*@

@section scripts{
    <script>
        $(function () {
            setRequired(true, 'DATETIME1');
            setRequired(true, 'DECIMAL1');
            $("#save").click(function () {
            });
        });
    </script>
}

