@model List<ReportModel>
@{
	string _action = Url.Action(ViewContext.RouteData.Values["action"].ToString());
}

@section head{
	<script type="text/javascript">
		$(function () {
			InputGo("@ViewBag.DefaultPage");
		})
		//select by dropdownlist
		function SelectGo(page) {
			$('div .pager').find('select').each(function () {
				$(this).val(page);
			});
			var url = '@_action?page=' + page
                + '&nid=@(ViewBag.NodeID)'
                + '&defaultPage=' + $("[name=defaultPage]").val()
                + '&k=' + EncodeParameter($("[name=k]").val())
				+ '&start=' + $("#start").val() + '&end=' + $("#end").val();
			GoUrl(url);
		}
	</script>
	<style type="text/css">
		#tbBudget {
			width: 100%;
		}

			#tbBudget td, th {
				border: 1px solid #666;
				padding: 3px 2px;
				font-size: 13px;
			}

		.center {
			text-align: center;
		}

		.right {
			text-align: right;
		}
	</style>
}

@section featured_top {

}

@section featured {

}

@*網頁內容start*@
@using (Html.BeginForm())
{
	<p class="search_box" style="display:block">
		<span class="select">
			@Html.DropDownList("k", ViewBag.YearSelect as SelectList)
		</span>
		<br />
		<label class="key">
			<span class="select">@Html.DropDownList("k1", ViewBag.BudgetItemSelect as SelectList, "組別")</span>
			@*<span class="select"><select id="k2" name="k2"><option value="">類別</option></select></span>
			<span class="select"><select id="k3" name="k3"><option value="">細目</option></select></span>
			<span class="select"><select id="k4" name="k4"><option value="">說明</option></select></span>*@
		</label>
		<label class="btn_box go">@MyList.Submit()</label>
	</p>
}
<p class="top_bar">
	<label class="btn_box">
		@if (MyList.CheckAuthority(ViewBag.NodeID, Authority_Right.Add))
		{
			<a data-fancybox="print" data-type="iframe" data-ng-model="true" href="@Url.Action("CategoryIndex", new { nid = ViewBag.NodeID })" title="科目管理" class="btn org">科目管理</a>
		}
	</label>
</p>

@if (Model != null && Model.Count > 0)
{
	<table id="tbBudget" class="tb_list">
		@foreach (var m in Model)
		{
			if (m.CONTENT2.CheckStringValue("G"))
			{
				<tr style="background: #C1FFC1;">
					<td colspan="3">@m.CONTENT3</td>
					<td class="right">@((m.DECIMAL1 ?? 0).ToString("#,0"))</td>
				</tr>
				<tr style="background: #BFBFBF;">
					<th>類別</th>
					<th>細目</th>
					<th>說明</th>
					<th>預算數</th>
				</tr>
			}
			else if (m.CONTENT2.CheckStringValue("C"))
			{
				<tr style="background: #FFF68F;">
					<td colspan="3">@m.CONTENT4</td>
					<td class="right">@((m.DECIMAL1 ?? 0).ToString("#,0"))</td>
				</tr>
			}
			else
			{
				<tr style="background: @(m.CONTENT2.Equals("I") ? "#EED8AE" : (m.CONTENT2.Equals("E") ? "#BBFFFF" : "#FFFFF"));">
					<td style="background: #FFFFFF;">@m.CONTENT4</td>
					<td style="background: @(m.CONTENT2.Equals("I") ? "#EED8AE" : "#FFFFFF")">@m.CONTENT5</td>
					<td>@m.CONTENT6</td>
					<td class="right">@((m.DECIMAL1 ?? 0).ToString("#,0"))</td>
				</tr>
			}
		}
	</table>
}
@section scripts{
	<script type="text/javascript">
		$(function () {
			@*getChild("@ViewBag.k1", "@ViewBag.k2", '類別', 2);
			getChild("@ViewBag.k2", "@ViewBag.k3", '細目', 3);
			getChild("@ViewBag.k3", "@ViewBag.k4", '說明', 4);
			$('[name=k1]').change(function () {
				var k1 = $(this).val();
				var k2 = $("#k2").val();
				var k3 = $("#k3").val();
				var k4 = $("#k4").val();
				if (k1 == "") k1 = -1;
				k2 = k3 = k4 = -1;
				getChild(k1, '', '類別', 2);
				getChild(k2, '', '細目', 3);
				getChild(k3, '', '說明', 4);
			});
			$('[name=k2]').change(function () {
				var k2 = $(this).val();
				var k3 = $("#k3").val();
				var k4 = $("#k4").val();
				if (k2 == "") k2 = -1;
				k3 = k4 = -1;
				getChild(k2, '', '細目', 3);
				getChild(k3, '', '說明', 4);
			});
			$('[name=k3]').change(function () {
				var k3 = $(this).val();
				var k4 = $("#k4").val();
				if (k3 == "") k3 = -1;
				k4 = -1;
				getChild(k3, '', '說明', 4);
			});*@
		});
		function getChild(arg1, arg2, firstTextVal, idx) {
			$.post("@Url.Action("GetChild", "Json")", { id: arg1, v: arg2, first: firstTextVal }, function (data) {
				$("#k" + idx).html(data);
			});
		}
</script>
}
